* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.clear {
  clear: both;
}
ul {
  padding: 0;
  margin: 0;
}
