/*Шрифты*/
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Reset style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.clear {
  clear: both;
}
ul {
  padding: 0;
  margin: 0;
}
/*Стили главной страницы*/
/*Фон кнопок*/
/*Цвет карточки членов команды*/
/*Фон иконок в футоре*/
/*фон иконок в секции контактн. инф, фон секции наша команда, фон иконок в footer, разделительная линия в footer*/
/*цвет вспомогательных иконок*/
/* фон иконок соц. сет. в header,цвет вспомогательных иконок в секции статистика */
/*Основные цвета шрифтов*/
/*Стили текста*/
/*Style main*/
.content {
  width: 1470px;
  margin: 0 auto;
}
.header {
  position: relative;
  min-height: 905px;
  background: url('../img/main/header/header-bg.jpg') no-repeat top center;
}
.header_top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(28, 36, 43, 0.85);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 17px 6% 22px 6%;
  z-index: 15;
}
.header_top .logo_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header_top .text_logo {
  color: #fff;
  font: bold 18px "Arial";
  line-height: normal;
  padding-top: 9px;
  margin-left: 9px;
  margin-bottom: 0;
}
.header_top .image_logo {
  width: 85px;
  height: 70px;
  background: url('../img/main/logo.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.header_top .main_menu {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
  line-height: 72px;
}
.header_top .item_menu_main {
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  font: 18px "HelveticaBold";
  margin-left: 70px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header_top .item_menu_main:hover {
  color: #bdbdbd;
}
.header_top .item_menu_main.disable {
  opacity: 0.3;
  cursor: auto;
}
.header_top .item_menu_main.active {
  color: #e7c318;
}
.header_top .item_menu_main:first-child {
  margin-left: 0;
}
.header_slide .content {
  width: 1300px;
  position: relative;
}
.header_slide {
  padding-top: 215px;
  padding-left: 75px;
  position: relative;
}
.header_slide .main_title {
  color: #fff;
  font: 86.75px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.header_slide .promo_text_header {
  color: #656d82;
  font: 30px "HelveticaRegular";
  margin-bottom: 49px;
}
.btn_site {
  background: #1268d6;
  padding: 0 70px;
  color: #fff;
  font: 30px "HelveticaRegular";
  margin: 0;
  display: inline-block;
  line-height: 88px;
  -webkit-border-radius: 44px;
          border-radius: 44px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn_site:hover {
  color: #fff;
  background: #4189e6;
}
.social_panel_header {
  position: absolute;
  right: -100px;
  bottom: 5px;
  z-index: 5;
}
.item_head_social {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 12px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.item_head_social.inst {
  background: url('../img/main/header/instagram.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.youtube {
  background: url('../img/main/header/youtube.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.twitter {
  background: url('../img/main/header/twitter.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.facebook {
  background: url('../img/main/header/facebook.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.inst:hover {
  background: url('../img/main/footer/instagram-inverse_2.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.youtube:hover {
  background: url('../img/main/footer/youtube-iverse_2.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.twitter:hover {
  background: url('../img/main/footer/twitter-inverse_2.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.item_head_social.facebook:hover {
  background: url('../img/main/footer/facebook-inverse_2.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
/*Services block main*/
.services_block .content {
  width: 1200px;
}
.services_block {
  background: url('../img/main/features/features-bg.jpg') no-repeat top center;
  padding: 124px 0 45px 0;
}
.services_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.services_content .item_services {
  width: 33.3333%;
  text-align: center;
  margin-bottom: 50px;
}
.services_content .img_services {
  width: 230px;
  line-height: 230px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #1c242b;
  display: inline-block;
  margin-bottom: 35px;
}
.services_content .img_services img {
  max-width: 95%;
}
.services_content .text_item_services {
  color: #1c242b;
  font: 24px "HelveticaBold";
  margin-bottom: 0;
}
/*Consultation block*/
.consultation_block {
  background: #1c242b;
  padding: 90px 0 120px 0;
}
.consultation_block .content_consultation {
  padding-top: 80px;
}
.consultation_block .title_page {
  color: #fff;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
}
.consultation_block .title_page:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: 0;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.consultation_block .item_consultation_text {
  color: #fff;
  font: 24px "HelveticaRegular";
  margin-bottom: 50px;
  position: relative;
  padding-left: 30px;
}
.consultation_block .item_consultation_text:before {
  content: '';
  width: 24px;
  height: 20px;
  position: absolute;
  left: -12px;
  top: 3px;
  background: url('../img/main/consulting/checkmark.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.consultation_block .item_consultation_text:nth-child(4):before {
  left: -15px;
}
.consultation_block .item_consultation_text:nth-child(5):before {
  left: -28px;
}
.consultation_block .img_consultation {
  text-align: right;
  padding-right: 25px;
}
.consultation_block .img_consultation img {
  max-width: 100%;
}
/*Block team*/
.block_team_main {
  background: #656d82 url('../img/bg/bg_team.png') no-repeat top center;
  padding-bottom: 120px;
}
.block_team_main .title_page {
  color: #fff;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.block_team_main .title_page span {
  position: relative;
  padding-left: 30px;
}
.block_team_main .title_page span:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: 0;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.consultation_bottom_info {
  padding: 0 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.consultation_bottom_info .item_bottom_info {
  width: 33%;
  padding-left: 20px;
}
.consultation_bottom_info .title_consultation_info {
  color: #1c242b;
  font: 24px "HelveticaBold";
  margin-bottom: 25px;
  position: relative;
}
.consultation_bottom_info .title_consultation_info span {
  font-size: 70px;
}
.consultation_bottom_info .title_consultation_info:before {
  content: '';
  width: 5px;
  height: 46px;
  background: #fff;
  position: absolute;
  left: -20px;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.consultation_bottom_info .text_info_consultation {
  color: #fff;
  font: 20px "HelveticaRegular";
  margin-bottom: 0;
  line-height: 1.5em;
}
.content_team {
  padding: 0 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #1c242b;
  margin-bottom: 120px;
}
.content_team .item_cart_team {
  width: 30%;
  background: url('../img/elements/cart_team.jpg');
  padding: 50px 55px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 135px;
}
.content_team .photo_user_team {
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #656d82;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}
.content_team .photo_user_team img {
  max-width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.content_team .link_facebook {
  position: absolute;
  right: 0;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #161d22 url('../img/main/header/facebook.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
.content_team .name_team {
  color: #fff;
  font: 24px "HelveticaRegular";
  padding-bottom: 18px ;
  margin-bottom: 14px;
  text-align: left;
  border-bottom: 1px solid #656d82;
}
.content_team .position_team {
  color: #656d82;
  font: 20px "HelveticaRegular";
  margin-bottom: 22px;
  text-align: left;
}
.content_team .info_user_team {
  color: #fff;
  font: 18px "HelveticaRegular";
  text-align: left;
  line-height: 1.5em;
}
/*Contact block*/
.contact_block {
  padding: 75px 0;
  background: url('../img/main/contacts/laptop-bg.jpg') no-repeat right top;
}
.contact_info {
  position: relative;
}
.contact_info .title_contact {
  color: #1c242b;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 70px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
}
.contact_info .title_contact:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: 5px;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.contact_info .item_contact {
  padding-left: 150px;
  position: relative;
  margin-bottom: 45px;
}
.contact_info .item_contact.user_icon:before {
  content: '';
  width: 86px;
  height: 86px;
  background: url('../img/main/contacts/person.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  left: 20px;
  top: -17px;
}
.contact_info .item_contact.fax_icon:before {
  content: '';
  width: 86px;
  height: 86px;
  background: url('../img/main/contacts/fax.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  left: 20px;
  top: -17px;
}
.contact_info .name_contact {
  color: #1c242b;
  font: 24px "HelveticaRegular";
  margin-bottom: 5px;
}
.contact_info .position_contact {
  color: #656d82;
  font: 20px "HelveticaRegular";
}
.contact_info .number_contact {
  padding-left: 20px;
}
.contact_info .number_contact a {
  color: #1c242b;
  font: 20px "HelveticaRegular";
  display: block;
  margin-bottom: 2px;
}
.contact_info .number_contact span {
  color: #1c242b;
  font: 20px "HelveticaRegular";
  display: block;
  margin-bottom: 2px;
}
.contact_info .fax_icon .number_contact {
  padding-left: 0;
  padding-top: 13px;
}
.form_block {
  position: relative;
  padding-left: 90px;
}
.form_block .title_contact {
  color: #fff;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-left: 5px;
  position: relative;
}
.form_block .title_contact:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: -25px;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.form_block .subtitle_contacts {
  color: #656d82;
  font: 24px "HelveticaRegular";
  margin-bottom: 65px;
  padding-left: 5px;
}
.form_block .btn_site {
  cursor: pointer;
  outline: 0;
  border: 0;
}
.form_element {
  position: relative;
  margin-bottom: 15px;
}
.form_element label {
  font: 18px "Arial";
  color: #656d82;
  display: block;
}
.form_element .input_form {
  width: 100%;
  border: 2px solid #eeeeee;
  padding-left: 20px;
  font: 18px "Arial";
  color: #1c242b;
  outline: 0;
  height: 50px;
}
.form_element .textarea_style {
  max-width: 100%;
  min-width: 100%;
  border: 2px solid #eeeeee;
  padding-left: 20px;
  font: 18px "Arial";
  color: #1c242b;
  outline: 0;
  min-height: 144px;
  max-height: 144px;
  padding-top: 15px;
  margin-bottom: 35px;
}
.input_form::-webkit-input-placeholder {
  color: #bdbdbd;
}
.input_form::-moz-placeholder {
  color: #bdbdbd;
}
.input_form:-ms-input-placeholder {
  color: #bdbdbd;
}
.input_form::placeholder {
  color: #bdbdbd;
}
/*Footer*/
.footer {
  padding: 45px 0 70px 0;
  background: #1c242b;
  position: relative;
  z-index: 20;
}
.footer .logo_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer .text_logo {
  color: #fff;
  font: bold 18px "Arial";
  line-height: normal;
  padding-top: 9px;
  margin-left: 9px;
  margin-bottom: 0;
}
.footer .image_logo {
  width: 85px;
  height: 70px;
  background: url('../img/main/logo.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .menu_item_footer {
  display: block;
  margin-bottom: 15px;
  color: #656d82;
  font: 14px "HelveticaRegular";
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.footer .menu_item_footer:hover {
  color: #fff;
  text-decoration: underline;
}
.footer .menu_item_footer.disable {
  opacity: 0.3;
  cursor: auto;
}
.footer .item_head_social {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.footer .item_head_social.inst {
  background: url('../img/main/footer/instagram-inverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.inst:hover {
  background: url('../img/main/header/instagram.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.youtube {
  background: url('../img/main/footer/youtube-iverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.youtube:hover {
  background: url('../img/main/header/youtube.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.twitter {
  background: url('../img/main/footer/twitter-inverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.twitter:hover {
  background: url('../img/main/header/twitter.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.facebook {
  background: url('../img/main/footer/facebook-inverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .item_head_social.facebook:hover {
  background: url('../img/main/header/facebook.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.footer .social_footer {
  padding-top: 10px;
}
.footer .first_footer_block {
  padding-bottom: 50px;
  border-bottom: 2px solid #656d82;
  text-align: right;
}
.footer .copyright {
  text-align: center;
  margin-top: 27px;
  color: #656d82;
  font: 14px "HelveticaRegular";
  margin-bottom: 0;
}
.open_menu_mobail {
  display: none;
  font-size: 46px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
/*Modal form*/
.modal_form {
  position: absolute;
  right: 0;
  top: 0;
  padding: 270px 150px 0 95px;
  width: 100%;
  max-width: 760px;
  height: 100%;
  z-index: 10;
  background: rgba(28, 36, 43, 0.85);
  display: none;
}
.modal_form .btn_site {
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal_form .close_modal {
  position: absolute;
  right: 50px;
  top: 150px;
  cursor: pointer;
}
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
  text-decoration: none;
}
.color_red {
  color: #f50203;
}
/*Page consultation*/
.consultation_page {
  background: #1c242b url('../img/bg/bg_consult.jpg') no-repeat top center;
}
.consultation_page .header {
  background: transparent;
}
.link_consult_head {
  color: #1268d6;
  font: 20px "HelveticaRegular";
  text-decoration: underline;
}
.sertificat_block {
  padding-bottom: 105px;
}
.sertificat_block .title_block {
  color: #fff;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 60px;
  text-transform: uppercase;
  padding-left: 5px;
  position: relative;
}
.sertificat_block .title_block:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: -25px;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.sertificat_block .item_licence {
  width: 275px;
  padding: 20px;
  background: #e7c318;
  margin-right: 45px;
}
.sertificat_block .inp_block_licence {
  width: 100%;
  height: 320px;
  border: 3px solid #bd9d03;
  background: #d2d9e0;
}
.sertificat_block .content_sertificat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.list_services {
  padding-bottom: 115px;
}
.list_services .title_block {
  color: #fff;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  padding-left: 5px;
  position: relative;
}
.list_services .title_block:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: -25px;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.list_services .item_services_segment {
  color: #fff;
  font: 24px "HelveticaRegular";
  margin-bottom: 50px;
  position: relative;
  padding-left: 5px;
}
.list_services .item_services_segment span {
  display: inline-block;
  vertical-align: top;
  max-width: 90%;
}
.list_services .check_icon {
  width: 24px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  left: -42px;
  top: 3px;
  margin-right: 10px;
}
.list_services .check_icon img {
  max-width: 24px;
}
.full_list_srvices {
  display: none;
}
.open_full_list {
  color: #1268d6;
  font: 20px "HelveticaRegular";
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 64px;
  cursor: pointer;
}
.social_sertificat .item_head_social {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 12px;
}
.social_sertificat .item_head_social.inst {
  background: url('../img/main/footer/instagram-inverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.inst:hover {
  background: url('../img/main/header/instagram.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.youtube {
  background: url('../img/main/footer/youtube-iverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.youtube:hover {
  background: url('../img/main/header/youtube.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.twitter {
  background: url('../img/main/footer/twitter-inverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.twitter:hover {
  background: url('../img/main/header/twitter.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.facebook {
  background: url('../img/main/footer/facebook-inverse.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
.social_sertificat .item_head_social.facebook:hover {
  background: url('../img/main/header/facebook.svg') no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}
/*TeamBlock*/
.team_block_page {
  background: #656d82 url('../img/bg/bg_team.png') no-repeat top center;
  min-height: 500px;
}
.team_block_page .slider_team {
  margin-bottom: 125px;
}
.team_block_page .slick-dots {
  bottom: -78px;
}
.team_block_page .slick-dots li button:before {
  font-size: 16px;
  opacity: 1;
  color: #1c242b;
}
.team_block_page .slick-dots li.slick-active button:before {
  font-size: 20px;
}
.team_block_page .title_page {
  color: #fff;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 60px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.team_block_page .title_page span {
  position: relative;
  padding-left: 30px;
}
.team_block_page .title_page span:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: 0;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.team_block_page .item_slid_team {
  max-width: 1370px;
  margin: 0 100px;
  background: #1c242b;
  padding: 50px 140px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
.team_block_page .photo_user_team {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #656d82;
  width: 450px;
  height: 450px;
}
.team_block_page .info_team_block {
  position: relative;
}
.team_block_page .info_team_block .name {
  color: #fff;
  font: 20px "HelveticaRegular";
  padding-bottom: 15px;
  padding-right: 15px;
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 1px solid #656d82;
}
.team_block_page .positioun_user_team {
  color: #656d82;
  font: 24px "HelveticaRegular";
  margin-bottom: 25px;
}
.team_block_page .description_user_team {
  color: #fff;
  font: 20px "HelveticaRegular";
  line-height: 1.5em;
  margin-bottom: 30px;
}
.team_block_page .number_team_phone {
  color: #656d82;
  font: 24px "HelveticaRegular";
}
.team_block_page .number_team_phone i {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 30px;
  margin-right: 15px;
  position: relative;
  bottom: -5px;
}
.team_block_page .link_facebook {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 12px;
  background: url(../img/main/header/facebook.svg) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  right: -15px;
}
.team_block_page .link_facebook:hover {
  background: url(../img/main/footer/facebook-inverse_2.svg) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.consult_form {
  background: url('../img/main/contacts/laptop-bg.jpg') no-repeat top center;
  padding: 70px 0;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  margin-bottom: -270px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
.footer_consultation {
  padding-top: 370px;
}
/*Page contact*/
.contact_page {
  background: #fff;
}
.contact_page .header {
  background: #1c242b;
  min-height: auto;
}
.contact_page .header_top {
  background: #1c242b;
}
.contact_content_page {
  padding: 77px 6% 115px 6%;
  position: relative;
  height: 100vh;
  top: 111px;
  z-index: 10;
}
.contact_content_page .title_contact {
  color: #1c242b;
  font: 30px "HelveticaBold";
  margin-top: 0;
  margin-bottom: 60px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
}
.contact_content_page .title_contact:before {
  content: '';
  width: 5px;
  height: 42px;
  background: #e7c318;
  position: absolute;
  left: 5px;
  top: -6px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.tabs_contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.tabs_contact .item_tabs {
  padding: 22px 0 10px 0;
  width: 195px;
  text-align: center;
  color: #1c242b;
  font: 20px "HelveticaRegular";
  background: #656d81;
}
.tabs_contact .item_tabs.active {
  color: #fff;
  background: #1c242b;
}
.contact_page_block {
  padding: 25px 130px 55px 130px;
  background: #1c242b;
  position: relative;
  z-index: 10;
}
.contact_page_block .map_link {
  color: #656d82 !important;
  font: 20px "HelveticaRegular";
  display: block;
  padding-left: 80px;
  text-decoration: underline !important;
  margin-bottom: 75px;
}
.contact_page_block .map_link.active {
  color: #fff !important;
}
.contact_page_block .text_contact_info {
  padding-left: 80px;
  color: #656d82;
  margin-bottom: 25px;
  position: relative;
  font: 20px "HelveticaRegular";
  line-height: 1.5em;
}
.contact_page_block .text_contact_info span {
  font-size: 24px;
}
.contact_page_block .text_contact_info i {
  position: absolute;
  left: 0;
  top: 10px;
}
.contact_page_block .text_contact_info:last-child i {
  top: 1px;
}
.item_contact_colum {
  margin-bottom: 35px;
}
.open_modal_contact {
  text-decoration: underline !important;
  padding-left: 80px;
  color: #1268d6 !important;
  margin-bottom: 25px;
  position: relative;
  font: 20px "HelveticaRegular";
  line-height: 1.5em;
  display: inline-block;
}
.open_modal_contact i {
  position: absolute;
  left: 0;
  top: 0px;
}
.map_open_bottom {
  display: none;
}
#dnepr {
  display: none;
}
.content_modal_form .form_block {
  padding-left: 0;
}
.modal_form.contact_form {
  padding-top: 200px;
  max-width: 840px;
  z-index: 15;
  background: url('../img/main/contacts/laptop-bg.jpg') no-repeat top center;
  -webkit-background-size: cover;
          background-size: cover;
}
.maps_block {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
}
/*Адаптивность*/
@media screen and (max-width: 1640px) {
  .header_top .item_menu_main {
    margin-left: 40px;
  }
  .contact_block {
    background-position-x: 125%;
  }
  .social_panel_header {
    right: 0;
  }
  .contact_page_block {
    padding: 25px 50px 50px 50px;
  }
}
@media screen and (max-width: 1480px) {
  .content {
    width: 100%;
    padding: 0 45px;
  }
  .form_block {
    padding-left: 0;
  }
  .header_top .item_menu_main {
    font-size: 15px;
  }
  .services_content .img_services {
    width: 190px;
    line-height: 190px;
  }
  .services_content .text_item_services {
    font-size: 18px;
  }
  .item_services:first-child .img_services img {
    width: 125px !important;
  }
  .item_services:nth-child(2) .img_services img {
    width: 100px !important;
  }
  .item_services:nth-child(3) .img_services img {
    width: 130px !important;
  }
  .item_services:nth-child(5) .img_services img {
    width: 115px !important;
  }
  .item_services:nth-child(6) .img_services img {
    width: 85px !important;
  }
  .team_block_page .photo_user_team {
    width: 320px;
    height: 320px;
  }
  .team_block_page .item_slid_team {
    padding: 50px;
  }
}
@media screen and (max-width: 1360px) {
  .contact_page_block .map_link {
    font-size: 16px;
  }
  .header_slide {
    padding-left: 0;
  }
  .contact_block {
    background-position-x: 156%;
  }
  .contact_page_block .text_contact_info span {
    font-size: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .contact_page_block .text_contact_info {
    font-size: 18px;
    padding-left: 50px;
  }
  .contact_page_block .map_link {
    padding-left: 0;
  }
  .header_top .item_menu_main {
    margin-left: 15px;
  }
  .header_slide .content {
    width: 100%;
  }
  .content_team,
  .consultation_bottom_info {
    padding: 0 25px;
  }
  .contact_block {
    background-position-x: 187%;
  }
  .footer .menu_item_footer {
    font-size: 12px;
  }
  .services_block .content {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .team_block_page .photo_user_team {
    width: 240px;
    height: 240px;
  }
  .header_slide .promo_text_header {
    font-size: 24px;
  }
  .header_slide .main_title {
    font-size: 70px;
  }
  .header_top .item_menu_main {
    font-size: 13px;
  }
  .header_top {
    padding: 17px 15px 22px 15px;
  }
  .content_team,
  .consultation_bottom_info {
    padding: 0;
  }
  .content_team .info_user_team {
    font-size: 16px;
  }
  .content_team .position_team {
    font-size: 18px;
  }
  .content_team .item_cart_team {
    width: 32%;
  }
  .contact_block {
    background-position-x: 372%;
  }
}
@media screen and (max-width: 996px) {
  body {
    position: relative;
  }
  .maps_block {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    height: 450px;
  }
  .maps_block > div {
    top: 111px !important;
  }
  .contact_content_page {
    padding-top: 70px;
    height: auto;
  }
  .sertificat_block .content_sertificat {
    display: block;
  }
  .modal_form.contact_form {
    height: 100%;
    top: 0;
    padding-top: 125px;
  }
  .contact_content_page .title_contact {
    font-size: 25px;
  }
  .modal_form.contact_form .close_modal {
    top: 120px;
    z-index: 150;
  }
  .team_block_page .photo_user_team {
    margin: 0 auto 45px auto;
  }
  .consult_form {
    padding: 50px 35px;
  }
  .sertificat_block .item_licence {
    margin: 0 auto 35px auto;
  }
  .services_content .item_services {
    width: 50%;
  }
  .open_menu_mobail {
    display: block;
  }
  .contact_block {
    background-position-x: 0;
    -webkit-background-size: cover;
            background-size: cover;
  }
  .consultation_block .img_consultation {
    padding: 0;
    text-align: center;
    margin-bottom: 35px;
  }
  .header_top .main_menu {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    padding: 25px 0;
    text-align: center;
    background: #1b2228;
  }
  .header_top .item_menu_main {
    font-size: 16px;
    display: block;
    margin: 0 0 15px 0;
  }
  .header_slide .main_title {
    text-align: center;
    font-size: 56px;
  }
  .promo_text_header {
    font-size: 25px;
    text-align: center;
  }
  .header_slide {
    text-align: center;
  }
  .social_panel_header {
    position: static;
    margin-top: 35px;
  }
  .consultation_block .item_consultation_text:before {
    left: -2px !important;
  }
  .content_team .item_cart_team {
    width: 100%;
    margin-bottom: 35px;
  }
  .content_team {
    display: block;
  }
  .consultation_bottom_info {
    display: block;
  }
  .consultation_bottom_info .item_bottom_info {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact_info .title_contact,
  .contact_info .name_contact,
  .contact_info .number_contact a,
  .contact_info .number_contact span {
    color: #fff;
  }
  .form_block .title_contact {
    padding-left: 35px;
  }
  .form_block .title_contact:before {
    left: 0;
  }
  .form_block {
    padding-top: 45px;
  }
  .footer .menu_item_footer {
    text-align: center;
    font-size: 14px;
  }
  .social_footer {
    text-align: center;
  }
  .footer .logo_header {
    width: 235px;
    margin: 0 auto 35px auto;
  }
}
@media screen and (max-width: 768px) {
  .contact_page_block {
    padding: 25px 25px 50px 25px;
  }
  .header_slide .promo_text_header {
    font-size: 25px;
  }
  .sertificat_block,
  .list_services {
    padding: 0 50px 105px 50px;
  }
  .modal_form {
    padding: 200px 30px 0 30px;
  }
  .team_block_page .item_slid_team {
    margin: 0;
  }
  .header_slide {
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 540px) {
  .team_block_page .photo_user_team {
    width: 200px;
    height: 200px;
  }
  .consultation_page .header {
    min-height: 740px;
  }
  .team_block_page .description_user_team {
    font-size: 16px;
  }
  .team_block_page .positioun_user_team {
    font-size: 18px;
  }
  .list_services .item_services_segment {
    font-size: 18px;
  }
  .social_sertificat .item_head_social {
    width: 45px;
    height: 45px;
    margin: 0 4px;
  }
  .header_slide .main_title {
    font-size: 33px;
  }
  .header_slide .promo_text_header {
    font-size: 18px;
  }
  .btn_site {
    padding: 0 35px;
    font-size: 20px;
    line-height: 60px;
  }
  .services_content .item_services {
    width: 100%;
  }
  .content {
    padding: 0 20px;
  }
  .contact_info .item_contact {
    padding-left: 0;
    padding-top: 100px;
  }
  .contact_info .item_contact.fax_icon:before,
  .contact_info .item_contact.user_icon:before {
    top: -15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .content_team .item_cart_team {
    padding: 40px 20px;
  }
  .block_team_main .title_page {
    font-size: 26px;
  }
  .consultation_block .item_consultation_text {
    font-size: 20px;
  }
  .item_head_social {
    margin: 0 4px;
  }
}
